@namespace codenames_solver
@inject CardsState CardsState
@implements IDisposable

<div class="code-card flex-column align-items-center" style="opacity: @opacityValue" card-color="@cardColor" @onclick="ToggleColorSelector" >
    <div class="d-flex gap-2">
        <span>
            <FuzzyInput Text="@cardText" UpdateText="@UpdateText" />
        </span>

        <IsValidWordIcon CardIndex="@CardIndex"/>
    </div>

    <hr class="my-1"/>
    <div class="d-flex justify-content-between align-items-stretch w-100">
        <span>
            <TogglePickedButton CardIndex="@CardIndex" />
        </span>
        <span>
            Test2
        </span>
    </div>
    @if(ShowColorSelector)
    {
        <ColorSelector CardIndex="@CardIndex"/>
    }
</div>


@code {
    [Parameter]
    public int CardIndex { get; set; }

    private string cardText => CardsState.GetCardText(CardIndex);
    private CardColor cardColor => CardsState.GetCardColor(CardIndex);
    private string opacityValue => CardsState.GetCardPicked(CardIndex) ? "30%" : "100%";
    private bool ShowColorSelector { get; set; } = false;

    void ToggleColorSelector()
    {
        ShowColorSelector = !ShowColorSelector;
    }

    void UpdateText(string newText)
    {
        CardsState.UpdateCardText(this, newText, CardIndex);
    }

    protected override void OnInitialized()
    {
        CardsState.StateChanged += async (Source, Property)
            => await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        CardsState.StateChanged -= async (Source, Property)
            => await InvokeAsync(StateHasChanged);
    }
}
