<div class="similarity-item-cell px-3">
    <h6>@heading</h6>
    <ul>
        @foreach (string relatedWord in SimilarityItem?.RelatedWords ?? new())
        {
            <li>
                @relatedWord
            </li>
        }
    </ul>
    <h6>Codewords:</h6>
    <div>@topCodeWordText</div>
    <div>
        <button class="btn btn-link p-0" @onclick="Toggle">
            @(isExpanded ? "See less" : "See more")
        </button>
        @if (isExpanded)
        {
            <div style="margin-left: 10px; overflow: hidden;">
                @for (int i = 1; i < CodeWordScores.Count; i++)
                {
                    <div style="white-space: nowrap; text-overflow: ellipsis;">
                        @CodeWordScores[i].Item1: @Math.Round(CodeWordScores[i].Item2, 1)
                    </div>
                    if (i != CodeWordScores.Count)
                    {
                        <hr class="my-1" />
                    }
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public SimilarityItem? SimilarityItem { get; set; }

    string heading => $"Relating to:";
    List<Tuple<string, double>> CodeWordScores => SimilarityItem?.CodeWordScores ?? new List<Tuple<string, double>>();
    int lastIdx => CodeWordScores.Count - 1;

    Tuple<string, double> topCodeWord => SimilarityItem?.CodeWordScores?.FirstOrDefault() ?? Tuple.Create<string, double>(string.Empty, 0);
    string topCodeWordText => $"{topCodeWord?.Item1 ?? "N/A"}: {Math.Round(topCodeWord?.Item2 ?? 0, 1)}";

    bool isExpanded = false;
    void Toggle()
    {
        isExpanded = !isExpanded;
    }
}
